body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 200px;
}

#main-nav {
    background-color: #202A44;
    grid-row-end: span 2;
    gap: 2rem;
}

#main-nav,
#primary-nav,
#secondary-nav {
    display: flex;
    flex-direction: column;
}

#logo,
a.nav-item {
    padding: 8px 16px;
    color:#fff;
    display: flex;
    gap: 1rem;
}

#logo {

}

a.nav-item {
    align-items: center;  
    text-decoration: none;
}

a.nav-item:hover {
    background-color: #171e30;
}

.link-icon {
    width: 32px;
}

.link-text {
    font-size: 18px;
    text-transform: uppercase;
}

#header {
    background-color: #fff;
    grid-column-end: span 5;
}

main {
    background-color: #d1d1d1;
    grid-column-end: span 5;
}

#projects {

}

#rt-sidebar {

}